.custom-hr{
    opacity: 0.3;
}
.manImage{
    width: 400px;
    height: auto;
    border-radius: 10px;
    border: 2px solid #e8e8e8;
}
.futureImage{
    width: 430px;
    height: auto;
    
}
.container{
    width: 90%;
    margin: 0 auto;
}
.container_1{
    display: flex;
}
.left{
    flex: 0.4; 
    padding: 10px;
}
.right{
    flex: 0.6; 
    padding: 10px;
    width:60%;
}
.customoverlay{
    margin-top: -90px;
    margin-left: -5px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    border: 2px solid red;
    font-size: 15px;
}
.header p{
    font-size: 21px;
    line-height: 1.5;
    font-weight: 500;
}
.highlight {
    color: blue;
    font-weight: 600;
}
.main{
    font-size: 13px;
    line-height: 2.0;
    font-weight: 300;
}
.come{
    font-size: 14px;
    line-height: 2.0;
    font-weight: 600;
}
.headImage{
    height: 500px;
    width : 100%;
}
.foot{
    font-size: 16px;
    font-weight: 700;
    text-align: right;
    margin-right: 20px;
    color: rgb(122, 122, 246);
}