


.footer-container{
  position:relative;
  bottom:0;
  height:200px;
  width:100%;
  background-color: #333;
  color: white;
}

.footer-content {
  display: flex;
  justify-content: space-between;
} 

/* .container.scrolled header {
  background-color: gray;
  transition: background-color 0.5s ease; 
} */

/* 다른 필요한 스타일들... */
